<launch>
  <node pkg="mcr_robot_controls" type="mcr_robot_controls" name="mcr_robot_controls"  output="screen">
    <param name="scale_linear" value="1.0" type="double"/>
    <param name="scale_angular" value="1.0" type="double"/>

    <remap from="mcr_robot_controls/cmd_vel" to="/cmd_vel"/>  
  </node>
</launch>
